/* Start Global Rules */
* {
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
/* Start container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* extra-small */
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* medium */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* large */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* x-large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* xx-large */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* End container */
body {
  height: 100vh;
  background-color: #f6f6f6;
}
.wraper {
  position: relative;
  padding: 20px 50px;
}
.wraper .discount {
  background-color: #0075ff;
  color: white;
  width: fit-content;
  position: absolute;
  padding: 10px 30px 10px 10px;
  right: 0;
  font-weight: bold;
  right: 50px;
}
.wraper .discount::after {
  content: "";
  position: absolute;
  top: 0;
  right: -3px;
  border: 1px solid;
  border-color: transparent #f6f6f6 transparent transparent;
  border-width: 19px;
}
.compare-items {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 1%;
  padding: 30px;
}
.compare-items .box {
  flex-basis: 49%;
  background-color: white;
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .compare-items {
    display: block;
    margin: 20px;
  }
}
.wraper h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
.wraper .red h3 {
  background-color: red;
}
.wraper .blue h3 {
  background-color: #0075ff;
}
.compare-items .box p {
  padding-left: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.compare-items .box .row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0;
}
.compare-items .box .row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.compare-items .check,
.compare-items .x-mark {
  position: relative;
}
.compare-items .check::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  color: #009688;
  font-size: 20px;
  margin-right: 10px;
}

.compare-items .x-mark::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f057";
  color: #e91e63;
  font-size: 20px;
  margin-right: 15px;
}
.wraper .hover-me {
  position: relative;
  display: block;
  background-color: red;
  color: white;
  padding: 20px;
  margin: 100px auto;
  width: fit-content;
  font-size: 40px;
  cursor: pointer;
}
.wraper .hover-me::before {
  content: "This Is Tool Tip Content";
  position: absolute;
  top: -97px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 10px;
  width: 500px;
  opacity: 0;
  visibility: hidden;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  text-align: center;
}
.wraper .hover-me::after {
  content: "";
  border-style: solid;
  border-width: 25px;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: -31px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.wraper .hover-me:hover:before,
.wraper .hover-me:hover:after {
  visibility: visible;
  opacity: 1;
}
.wraper h2 {
  text-align: center;
  color: red;
  text-transform: capitalize;
}
/* Start columns-challenge   */
/* .wraper .columns-challenge {
  border: 1px solid black;
  padding: 30px;
} */
.wraper .columns-challenge fieldset {
  padding: 20px;
}
.wraper .columns-challenge form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.wraper .columns-challenge .box {
  flex: 1;
}
.wraper .columns-challenge input {
  width: 100%;
  min-width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 15px;
  box-shadow: 1px 1px 4px 2px darkgray;
}
.wraper .columns-challenge input[type="submit"] {
  color: white;
  background-color: #009688;
  box-shadow: none;
}
::placeholder {
  color: #ccc;
}
.wraper .columns-challenge textarea {
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 1px 4px 2px darkgray;
  resize: none;
}
.columns-challenge input[type="submit"] {
  cursor: pointer;
}
/* End columns-challenge   */
/* Start classic sidebar  */
.Classic-sidebar {
  position: relative;
  margin: 50px 0;
  display: flex;
  justify-content: flex-end;
}
.Classic-sidebar aside {
  margin: 100px 0;
  width: 400px;
  border: 1px solid red;
}

.wraper .Classic-sidebar h3 {
  color: white;
  background-color: #e91e63;
  position: relative;
  padding: 5px 0;
  margin: 0;
}
.Classic-sidebar h3::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  left: 137px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}
.Classic-sidebar section {
  padding: 10px 20px;
}

.Classic-sidebar ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.Classic-sidebar ul li span {
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
}
.Classic-sidebar section figure {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.Classic-sidebar section figure img {
  width: 110px;
  height: 110px;
}
/* End classic sidebar  */
/* Start Creative Titles  */
.creative-titles {
  border: 1px solid green;
  position: relative;
  margin: 50px auto;
  padding: 15px 20px;
  border-radius: 5px;
}
.creative-titles h1 {
  color: #009688;
}
.creative-titles h2 {
  color: unset;
  text-align: left;
  padding: 5px;
}
.creative-titles h3 {
  position: relative;
  color: black;
  margin-bottom: 10px;
  padding: 15px 5px;
}
.creative-titles h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 2px;
  background-color: #ddd;
}

.creative-titles h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100px;
  height: 2px;
}
.creative-titles h3 i {
  position: absolute;
  left: 0;
  bottom: -5px;
  padding: 0;
  font-size: 12px;
}
.creative-titles .red {
  color: red;
}
.creative-titles .red::after {
  background-color: red;
}
.creative-titles .blue {
  color: blue;
}
.creative-titles .blue::after {
  background-color: blue;
}
.creative-titles .green {
  color: green;
}
.creative-titles .green::after {
  background-color: green;
}
.creative-titles .brown {
  color: brown;
}
.creative-titles .brown::after {
  background-color: brown;
}
.creative-titles .triangle {
  font-size: 25px;
}
.creative-titles .triangleup {
  font-size: 20px;
  bottom: -7px;
}
.creative-titles .triangledown {
  font-size: 20px;
  bottom: -11px;
}
/* End Creative Titles  */
